---
version: 0.2
addr:
  http: :8080
  https: :8443
  metrics: :9090
admin:
  accessKeySecret: infra-admin-access-key
  enable: true
  enabled: true
dbEncryptionKey: /var/run/secrets/infrahq.com/encryption-key/key
dbHost: {{ infra_server_db_host }}
dbName: {{ infra_server_db_name }}
dbParameters:
dbPassword:
dbPort: {{ infra_server_db_port }}
dbUsername: {{ infra_server_db_username }}
enableTelemetry: true
logLevel: info
sessionDuration: 720h0m0s
sessionExtensionDeadline: 72h0m0s
tls:
  ca: /var/run/secrets/infrahq.com/certificate-authority/ca.crt
  caPrivateKey: /var/run/secrets/infrahq.com/certificate-authority/ca.key
ui:
  proxyURL: {{ infra_server_ui_proxy }}
users:
  - accessKey: file:/var/run/secrets/infrahq.com/initial-admin-access-key-secret/access-key
    infraRole: admin
    name: admin@local
    password: file:/var/run/secrets/infrahq.com/initial-admin-password-secret/password

